#form {
  font-size: 100px;
  padding: 10px 0;
  font-family: Sans-serif;
  font-weight: bold;
  text-align: left;
  display: block;
  color: #242323;
  font-size: 18px;
  text-align: right;
  padding: 15px 15px 0 0;

  padding: 30px 30px;

  background: #e7e5e5;

  border-radius: 5px;
}

body {
  margin: 10px;
}

h2 {
  font-size: 48px;
  color: #066a75;
  padding: 10px 0;
  font-family: Sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 48px;
  color: #066a75;
  padding: 10px 0;
  font-family: Sans-serif;
  font-weight: bold;
  text-align: center;
}

p {
  margin-bottom: 15px;
}
p:first-child {
  margin: 0px;
}
label {
  display: inline-block;
  font-family: Sans-serif;
  color: #181818;
  font-size: 16px;
  text-align: left;
  float: left;
  padding: 12px 12px 3 3;
}

/* Delete de produtos  */
#formdelete {
  margin: 0 auto;
  width: 700px;
  position: relative;
  top: 50px;
  border: 1px solid #727272;
}

div.formdelete label span {
  display: block;
  color: #242323;
  font-size: 18px;
  float: left;
  width: 100px;
  text-align: right;
  padding: 15px 15px 0 0;
}

div.box20 .input_text {
  padding: 10px 10px;
  width: 500px;
  background: #e0dfdf;
  border-bottom: 1px double #b4b4b4;
  border-top: 1px double #b4b4b4;
  border-left: 1px double #b4b4b4;
  border-right: 1px double #b4b4b4;
}

#buttonStyle {
  display: inline-block;
  margin-top: 3em;
  padding: 1em 2em;
  background: #067b80;
  line-height: 2em;
  letter-spacing: 8px;
  font-size: 1em;
  color: #fff;
  border-radius: 10px;
}

@media (min-width: 600px) {
  #form {
    width: 450px;
  }
}

#theadEdit {
  text-align: center;
}
#trEdit {
}
#thEdit {
  font-size: 17px;
  font-weight: 400;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
#thEditId {
  font-size: 17px;
  font-weight: 400;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
#thEditAlt {
  border-left: white solid 2px;
  font-size: 17px;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
#thEditApg {
  font-size: 17px;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
#thEditApgPedido {
  border-left: white solid 2px;
  font-size: 17px;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
#tbodyEdit {
  text-align: center;
}
#trBodyEdit {
}
#tdBodyEdit {
  width: auto;
  font-size: 13px;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
#tdBodyEditAlt {
  border-left: white solid 2px;
  font-size: 13px;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}
#tdBodyEditPedido {
  border-left: white solid 2px;
  font-size: 13px;
  padding-top: 1.1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  #cardPedido {
    width: 850px;
  }
}
